@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root {
  --background-color: #b3b3b3;
  --primary-text-color: #0a0a0a;
  --button-foreground-color: #b2becf;
  --terminal-color: #6b6b6b;
  --blank-text-color: #81d9ff;
  --toggle-bg: #b2becf;
  --toggle-fg: #71839b;
}

[data-theme="dark"] {
  --background-color: #333333;
  --button-foreground-color: #696969;
  --terminal-color: #151515;
  --blank-text-color: #b0e7ff;
  --primary-text-color: #f6f6f6;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--primary-text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-text-color);
}

body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--primary-text-color);
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
  color: var(--primary-text-color);
}

p {
  max-width: 62ch;
  line-height: 1.5;
  padding: 1em;
  color: var(--primary-text-color);
}

ul {
  list-style-type: none;
  color: var(--primary-text-color);
}

a {
  display: inline-block;
  cursor: pointer;
  /* padding: 1em 3.5em; */
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
}

.container {
  text-align: center;
  color: var(--primary-text-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mt-0 {
  margin-top: 0;
}

.mr-5 {
  margin-right: 5vw;
}

.mt-0-mb-5 {
  margin-top: 0;
  margin-bottom: 5vh;
}

.blank {
  width: 100%;
  min-height: 44vh;
  background-color: var(--background-color);
}

.blank-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5vh;
  font-size: 1.5em;
}

.blank-wrapper a {
  font-size: 1em;
  text-shadow: 1px 1px 1px #000b70;
  color: var(--blank-text-color);
}

.second,
.third {
  background-attachment: fixed;
  height: 1200px;
  flex-direction: row;
  gap: 1.6em;
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container-bg-light {
  background-image: url('../assets/container-bg-light.avif')
}

.container-bg-dark {
  background-image: url('../assets/container-bg-dark.avif')
}

.second-bg-light {
  background-image: url('../assets/second-bg-light.avif')
}

.second-bg-dark {
  background-image: url('../assets/second-bg-dark.avif')
}

.third-bg-light {
  background-image: url('../assets/third-bg-light.avif')
}

.third-bg-dark {
  background-image: url('../assets/third-bg-dark.avif')
}

.item {
  display: flex;
  max-width: 20vw;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  margin-top: 10vh;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.third>.item {
  max-height: 50vh;
  font-size: .8em;
  min-width: 40vw;
  padding: 20px;
}

.card {
  margin-bottom: 2vh;
  font-size: 1.5em;
}

.ul-repos,
.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ul-repos li {
  margin: 12px;
}

.socials,
.socials-svg {
  width: 280px;
  height: 200px;
}

.socials-svg:hover {
  transform: scale(1.1);
}

.socials {
  background-size: cover;
  background-position: center;
  margin-top: 4vh;
  border-radius: .3em;
}

.socials-wrapper {
  margin-left: 5vw;
}

.socials-wrapper>* {
  display: inline-block;
  margin-right: 15px;
}

.profile-pic-wrapper {
  margin: 1vh 5vh 0 0;
}

.profile-pic {
  width: 100%;
  max-width: 444px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2vh;
  animation: slideInFromRight 2s ease-in-out;
}

.profile-pic:hover {
  filter: drop-shadow(0 0 1em var(--primary-text-color));
}

.rnd-fact-h1 {
  position: absolute;
  margin-bottom: 40vh;
  margin-left: 1vw;
}

/* Override react-modern-modal */
.modal__content {
  background-color: transparent !important;
}

/* Large screens */
@media screen and (min-width: 1800px) {
  .ul-repos {
    display: block;
    margin-left: 5vw;
  }

  .ul-repos li {
    float: left;
    padding: 15px;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 812px) {

  .ul-repos {
    margin-left: -10vw;
  }

  .ul-repos li {
    margin: 5px;
  }

  .profile-h1 {
    font-size: 2em;
  }

  .rnd-fact-h1 {
    font-size: 1.8em;
    margin-bottom: 50vh;
  }

  .about-me-wrapper p {
    font-size: .9em;
  }

  .profile-pic {
    margin-left: 5vw;
    max-width: 300px;
  }

  .second,
  .third,
  .ul-repos {
    flex-direction: column;
  }

  .item {
    min-width: 50vw;
    max-height: 30vh;
  }

  .third>.item {
    min-width: 80vw;
    max-height: 85vh !important;
    font-size: .7em;
  }

  .socials-svg {
    width: 100px;
    height: 100px;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}